VITE_API_URL=https://chidambaranar-ai-backend.onrender.com/
VITE_FIREBASE_API_KEY=AIzaSyA06hDKatY1J75XCG6vmG8fy90ayAuFe9Q
VITE_FIREBASE_AUTH_DOMAIN=sih26186.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sih26186
VITE_FIREBASE_STORAGE_BUCKET=sih26186.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=551436313785
VITE_FIREBASE_APP_ID=1:551436313785:web:dc1ee84605fdc1ae4ca768
VITE_FIREBASE_VAPID_KEY=G-SDC5WX02QX