VITE_LIVEKIT_TOKEN_SERVER_ID=https://chidambaranarai-1d1mq3.sandbox.livekit.io
VITE_LIVEKIT_URL=https://chidambaranarai-1d1mq3.sandbox.livekit.io
VITE_API_URL=https://chidambaranar-ai-backend.onrender.com/