PORT=5000
JWT_SECRET=
MESSAGE_ENCRYPTION_KEY=
GEMINI_API_KEY=AQ.Ab8RN6ICsngn6sM7h2F3MLYx76T6uHAti2EeifVdieiz5mYCTw
OPENAI_API_KEY=your_openai_api_key_here
MISTRAL_API_KEY=your_mistral_api_key_here
HF_API_KEY=your_huggingface_api_key_here
