fastapi
uvicorn
textblob
google-generativeai
python-dotenv
openai
anthropic
huggingface_hub
requests
elevenlabs
sqlalchemy
passlib[bcrypt]
PyJWT
aiosqlite
pdfplumber
langchain
langchain-community
sentence-transformers
faiss-cpu
chromadb
numpy
pydantic[email]
python-jose